@import url('http://fonts.cdnfonts.com/css/whitney-2');
@import url("./styles/global.scss");
@import url("./styles/mixin.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:  'Whitney', Helvetica, Arial, sans-serif;
  background: var(--color-primary-100);
  color: var(--color-primary-900);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  font-family: 'Whitney', "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.app-height{
  @include res-height(60px);
  min-height: 650px;
}
