:root {
    --color-primary-100: #ffffff;
    --color-primary-200: #f3f4f6;
    --color-primary-300: #e5e7eb;
    --color-primary-400: #d1d5db;
    --color-primary-500: #9ca3af;
    --color-primary-600: #6b7280;
    --color-primary-700: #374151;
    --color-primary-800: #1f2937;
    --color-primary-900: #111827;

    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;

    --color-secondary: #5575e7;
    --color-secondary-washed-out: #879eed;

    --color-danger:#ff1443;
    --color-danger-hover:#fd2e58;
    --color-success:#09c372;
    --color-success-hover:#17c479;
    --color-warning:#fa8142;
    --color-warning-hover:#fd8e52;
}